.services-text
{
    text-align: center;
    margin-top: 150px;

}

.services-text p
{
    color: #7E7E7E;
    font-size: 20px;
}

.service-cards
{
    margin-top: 50px;
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto auto;
}

@media screen and (max-width: 1012px) {
    .service-cards
    {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 580px) {
    .service-cards
    {
        grid-template-columns: auto;
    }
}