.pdf {
    background: #EEE;
    padding: 25px;
    font-size: 85px;
    color: #F40F02;
    border-radius: 10px;
}

.pdf-parent {
    background: #EEE;
    border-radius: 10px;
    width: fit-content;
    border: 1px solid #AAA;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}