.button {
    background-color: var(--main-color);
    color: #FFF;
    font-size: 17px;
    font-weight: 600;
    padding: 15px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover
{
    background-color: #ef5c1c;
}