.goal-card
{
    padding: 30px;
    background-color: var(--main-color);
    color: #FFF;
    border-radius: 15px;
}

.goal-text
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-10
{
    flex: 10;
}

.goal-header
{
    font-weight: 500;
    margin-bottom: 10px;
}

.goal-icon
{
    font-size: 25px;
    padding: 10px;
    background-color: #F4733B;
    border-radius: 10px;
}

.progress-bar
{
    margin-top: 20px;
    width: 100%;
    background-color: #F5804F;
    height: 7px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.progress-bar::before
{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 65%;
    background-color: #FFF;
    border-radius: 10px;
}

@media screen and (max-width: 1250px) {
    .goal-card
    {
        width: 50%;
    }
}